body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: center center;
  background-image: url('http://orig08.deviantart.net/b8c1/f/2015/322/d/d/led_light_up_dance_floor_by_winampers_pro-d9h4lzl.jpg');
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border-radius:10px;
  position:absolute;
}

